<!DOCTYPE html>
<html data-ng-app="demoApp">
<head>
    <title>Starting to use AngularJS</title>
</head>

	<body  >	
        
        <div class="container" data-ng-controller="simpleController">
            Name:
            <br />
            <input type="text" data-ng-model="name" />{{name}}
            <br />

            <ul>
                <li data-ng-repeat="personDetails in customers | filter:name | orderBy:'city'">{{personDetails.name | uppercase}} - {{personDetails.city | lowercase}}</li>
            </ul>

        </div>


        <script src="angular.min.js"></script>

        <script>
            var demoApp = angular.module('demoApp', []);

            demoApp.controller('simpleController', function ($scope) {
                $scope.customers = [
                    { name: 'Philip Bell', city: 'London' },
                    { name: 'Gail Bell', city: 'Bath' },
                    { name: 'James Bell', city: 'Manchester' },
                    { name: 'Matthew Bell', city: 'Newcastle' }
                ];
            });
        </script>
       
        
	</body>
</html>